@page "{name}"
@model BookShop.UI.Pages.PublicUserModel
@inject IAuthorizationService authService
@{
}
<div class="container mt-4">
    <div class="columns">

        <div class="column">
            <section class="content is-3 has-background-link-light">
                <div class="box has-text-centered has-background-link-light py-1">
                    @if (Model.IsAdmin)
                    {
                        <p class="is-center has-text-success-dark">Администратор</p>
                    }
                    @if (Model.UserPublicInfo.Blocked == 1)
                    {
                        <p class="is-center has-text-danger">Заблокирован</p>
                    }
                    <p class="title is-center">@Model.UserPublicInfo.UserName</p>
                    <p class="subtitle is-center">@Model.UserPublicInfo.Email</p>
                </div>

                <div class="box has-text-centered has-background-link-light py-1 is-shadowless">
                    <figure class="image" style="width: 200px">

                        @if (Model.UserPublicInfo.Avatar != null && Model.UserPublicInfo.Blocked == 0)
                        {
                            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.UserPublicInfo.Avatar))" />
                        }
                        else
                        {
                            <img src="~/images/user-pic.jpg" />
                        }
                    </figure>
                </div>
                @if (Model.UserPublicInfo.UserName == User.Identity.Name || (await authService.AuthorizeAsync(User, "Admin")).Succeeded)
                {

                    <form method="POST" enctype="multipart/form-data">
                        <div class="field" id="app">
                            <div id="preview">
                                <p v-if="url" class="control">
                                    <label class="label">Предосмотр</label>
                                </p>
                                <img v-if="url" :src="url" />
                            </div>
                            <div class="box has-text-centered has-background-link-light is-shadowless py-0">
                                <input name="image" type="file" @@change="onFileChange" />

                            </div>
                        </div>

                        <div class="field">
                            <div class="box has-text-centered has-background-link-light py-1">
                                <button class="button is-success mb-2" type="submit" asp-page-handler="ForAvatar">Обновить аватар</button>
                            </div>
                        </div>
                    </form>
                }
                @if ((await authService.AuthorizeAsync(User, "Admin")).Succeeded)
                {
                    <form method="POST">

                        @if (Model.UserPublicInfo.Blocked == 0)
                        {
                            <div class="field">
                                <div class="box has-text-centered has-background-link-light py-1">
                                    <button class="button is-danger mb-2" type="submit" asp-page-handler="ForAdminBan">Заблокировать</button>
                                </div>
                            </div>
                        }
                        @if (Model.UserPublicInfo.Blocked == 1)
                        {
                            <div class="field">
                                <div class="box has-text-centered has-background-link-light py-1">
                                    <button class="button is-success mb-2" type="submit" asp-page-handler="ForAdminUnBan">Разблокировать</button>
                                </div>
                            </div>
                        }
                    </form>
                }


                @if (Model.UserPublicInfo.UserName != User.Identity.Name && Model.UserPublicInfo.Blocked == 0) {
                
                <div class="box has-text-centered has-background-link-light py-1">
                    <a asp-page="/User/CreateMessage" asp-route-name="@Model.UserPublicInfo.UserName">Отправить сообщение</a>
                </div>
                }

            </section>

        </div>
        <div class="column is-6">
            <div class="block">
                <p class="subtitle">Товары пользоватея</p>
            </div>
            @if (Model.UserPublicInfo.Blocked == 0)
            {

                <div class="columns is-5 is-multiline is-mobile">
                    @foreach (var p in Model.UserPublicInfo.Products)
                    {
                        <div class="column is-4-desktop is-4-tablet is-6-mobile">
                            <a asp-page="/Product" asp-route-id="@p.Id">

                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image is-3by4">
                                            @if (p.Image != null)
                                            {
                                                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(p.Image))" />
                                            }
                                            else
                                            {
                                                <img src="~/images/item.jpg" />
                                            }
                                        </figure>
                                    </div>
                                    <div class="card-content">

                                        <p class="title is-size-5">
                                            @p.Name - @p.Value
                                        </p>
                                        <p class="subtitle is-size-9">
                                            Автор: @p.Author
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }

                </div>
            }
            </div>
        <div class="column is-5">
            @if (Model.UserPublicInfo.Blocked == 0) {


          <section class="content">
                <div class="block">

                    <label>Всего отзывов: @Model.ReviewCount</label>
                    <p class="has-text-success">Положительных отзывов: @Model.ReviewCountPos</p>
                    <p class="has-text-danger">Отрицательных отзывов: @Model.ReviewCountNeg</p>
                    <form method="POST">

                        <input type="submit" asp-page-handler="ForReviewPos" value="Положительные" />
                        <input type="submit" asp-page-handler="ForReviewNeg" value="Отрицательные" />
                        <input type="submit" asp-page-handler="ForAll" value="Все" />
                    </form>
                </div>

                @foreach (var r in Model.ReviewInfo)
                {
                    <div class="column is-6-desktop is-4-tablet is-6-mobile">

                        <div class="card">

                            <div class="card-content">
                                @if (r.PositiveOrNegative == 0)
                                {
                                    <p class="title is-size-5 has-text-success">
                                        Положительный
                                    </p>
                                }
                                @if (r.PositiveOrNegative == 1)
                                {
                                    <p class="title is-size-5 has-text-danger">
                                        Отрицательный
                                    </p>
                                }


                                @if (r.CustomerOrSeller == 0)
                                {
                                    <p class="title is-size-5">
                                        Отзыв от покупателя
                                        <a asp-page="/PublicUser" asp-route-name="@(r.Sender)">@(r.Sender)</a>
                                    </p>
                                }
                                @if (r.CustomerOrSeller == 1)
                                {
                                    <p class="title is-size-5">
                                        Отзыв от продавца
                                        <a asp-page="/PublicUser" asp-route-name="@(r.Sender)">@(r.Sender)</a>
                                    </p>
                                }
                                <p class="subtitle is-size-5">
                                    Текст отзыва: @(r.Text)
                                </p>
                                @if ((await authService.AuthorizeAsync(User, "Admin")).Succeeded 
                                    || r.Recipient == User.Identity.Name || r.Sender == User.Identity.Name)
                                {
                                    <a asp-page="/Order" asp-route-id="@r.OrderId">

                                        <p class="subtitle is-size-5">
                                            Id заказа: @(r.OrderId)
                                        </p>
                                    </a>
                                }
                            </div>
                        </div>

                    </div>
                }

                <footer>
                    <form method="post">
                    </form>
                </footer>
            </section>
            }
        </div>
    </div>
</div>

@section scripts{
    <script src="https://unpkg.com/vue@next"></script>
    <script src="~/js/user/image.js"></script>
}