@page "{handler?}"
@model BookShop.UI.Pages.User.ArchiveModel
@{
}
<div class="section">

    <div class="block">
        <form method="POST">

            <input type="submit" class="button is-link" asp-page-handler="ForSeller" value="Для продавца" />
            <input type="submit" class="button is-success" asp-page-handler="ForCustomer" value="Для покупателя" />
        </form>
    </div><br />
    <div class="columns is-multiline is-mobile">

        @foreach (var p in Model.Orders)
        {
            <div class="column is-3-desktop is-4-tablet is-6-mobile">
                <a asp-page="/Order" asp-route-id="@p.Id">

                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-3by4">
                                @if (p.Product.Image != null)
                                {
                                    <img src="data:image/jpeg;base64,@(Convert.ToBase64String(p.Product.Image))" />
                                }
                                else
                                {
                                    <img src="~/images/item.jpg" />
                                }
                            </figure>
                        </div>
                        <div class="card-content">
                            @{
                                string cssClass = "";
                                string message = "";

                                if (p.Product.Available == 0)
                                {
                                    cssClass = "is-succes";
                                    message = "Продается";
                                }
                                else if (p.Product.Available == 1)
                                {
                                    cssClass = "is-danger";
                                    message = "Снят с продажи";

                                }
                            }
                            <div class="notification is-paddingless has-text-centered @cssClass">
                                @message
                            </div>


                            <p class="title is-size-5">
                                @p.Product.Name - @p.Product.Value
                            </p>
                            <p class="subtitle is-size-9">
                                @p.Product.Author
                            </p>
                            <p class="">
                                Продавец: @p.Seller
                            </p>
                            <p class="">
                                Покупатель: @p.Customer
                            </p>
                        </div>
                    </div>
                </a>
            </div>

        }


    </div>
</div>